:root {
  --text-color: hsl(0, 0%, 11%);
  --secondary-text-color: hsl(0, 0%, 16%);
  --primary-background-color: hsla(93, 51%, 47%, 0.1);
  --secondary-background-color: hsl(0, 0%, 93%);
  --primary-accent-color: hsl(93, 51%, 47%);
  --secondary-accent-color: hsl(155, 100%, 22%);
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary-background-color);
  color: var(--text-color);
}

a, a:visited, a:active {
  text-decoration: none;
  color: var(--secondary-text-color);
  cursor: pointer;
}

h1, h2, h3 {
  line-height: 1.1;
  font-weight: 700;
  margin: 0;
}

p {
  margin-top: 0;
}

a, a:visited, a:active {
  text-decoration: none;
}

.shadow {
  box-shadow: 0rem 0rem 0.25rem var(--secondary-accent-color);
}

button {
  border: none;
  border-radius: 2rem;
  color: var(--secondary-text-color);
  background-color: var(--primary-accent-color);
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
}

footer {
  background-color: var(--secondary-accent-color);
}
footer nav ul {
  margin: auto;
  list-style-type: none;
}
footer nav ul img {
  width: 1.75rem;
  height: 1.75rem;
}
footer div {
  width: 50%;
}

header h1 {
  font-size: 6.5ch;
}
@media (min-width: 43.75em) {
  header h1 {
    font-size: 10ch;
  }
}

body {
  display: grid;
  grid-template-columns: 7% 1fr 7%;
  grid-template-areas: ". header ." ". main ." "footer footer footer";
}
@media (min-width: 43.75em) {
  body {
    grid-template-areas: "header header header" ". main ." "footer footer footer";
  }
}
body > header {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
@media (min-width: 43.75em) {
  body > header {
    height: 30vh;
  }
}

main {
  display: grid;
  grid-auto-flow: row;
}
main section {
  display: grid;
  grid-auto-flow: row;
  padding: 1ch;
  gap: 2ch;
}
main section header {
  grid-column: 1;
  grid-row: 1;
}
main section summary {
  grid-row: 2;
}
main section button {
  grid-row: 3;
  width: 50%;
  margin: auto;
}

footer {
  display: grid;
  grid-template-columns: 7% repeat(2, 1fr) 7%;
  row-gap: 2ch;
}
footer address {
  display: grid;
  grid-auto-flow: row;
}

.row-gap {
  row-gap: 4ch;
}

header {
  grid-area: header;
}
@media (min-width: 43.75em) {
  header {
    background-color: var(--background-color);
  }
}

main {
  grid-area: main;
}
main section picture {
  display: none;
}
main section picture img {
  object-fit: cover;
}

footer {
  grid-area: footer;
  padding-block: 2ch;
}
footer nav {
  grid-column: 2/4;
  grid-row: 1;
}
@media (min-width: 43.75em) {
  footer nav {
    grid-column: 2;
    grid-row: 2;
  }
}
footer nav ul {
  padding: 0;
}
footer div {
  grid-column: 2/4;
  grid-row: 2;
  width: 100%;
  text-align: end;
}
@media (min-width: 43.75em) {
  footer div {
    grid-column: 3;
    grid-row: 2;
  }
}

body {
  padding-top: 4ch;
}
@media (min-width: 43.75em) {
  body {
    padding: 0;
  }
}

main section header {
  display: flex;
  display: flex;
  justify-content: start;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1 1 auto;
  width: 55%;
}

/*# sourceMappingURL=style.css.map */
