@use '../abstracts' as a;

.card {
    padding: 2%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;

    &__header {
        color: var(--secondary-text-color);
        font-size: clamp(a.rem(16), a.rem(16) + 1.5vh, a.rem(24) + 2vh);
    }

    &__text {
        font-weight: 300;
    }

    &__button {
        
        margin: auto;
    }
}