@use "../abstracts" as *;

footer {
    background-color: var(--secondary-accent-color);

    @include breakpoint-up(medium) {
        
    }

    nav {
        // aspect-ratio: 1 / 1;
        
        ul {
            margin: auto;
            list-style-type: none;

            img {
                width: rem(28);
                height: rem(28);
            }
        }
    }

    div {
        // margin: auto;

        width: 50%;
    }
}