footer {
    background-color: var(--secondary-accent-color);
    min-width: 100vw;
    min-height: 30vh;
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;

    nav {
        // aspect-ratio: 1 / 1;
        
        ul {
            margin: auto;
            list-style-type: none;
        }
    }

    div {
        // margin: auto;

        width: 50%;
    }
}