:root {
    --text-color: hsl(0, 0%, 11%);
    --secondary-text-color: hsl(0, 0%, 16%);

    --primary-background-color: hsla(93, 51%, 47%, 0.1);
    --secondary-background-color: hsl(0, 0%, 93%);

    --primary-accent-color: hsl(93, 51%, 47%);
    --secondary-accent-color: hsl(155, 100%, 22%);
}