:root {
    --text-color: hsl(0, 0%, 11%);
    --secondary-tect-color: hsl(0, 0%, 16%);

    --background-color: hsl(0, 0%, 93%);

    --primary-accent-color: hsl(93, 51%, 47%);
    --secondary-accent-color: hsl(155, 100%, 22%);
}